.main-container {
  display: inline-flex;
  height: 26.25rem;
  width: 21rem;
  position: relative;
  transition: all .25s;
  &:hover {
    scale: 1.1;
  }
  &:active {
    scale: 1.05;
  }
}

.photo {
  height: 100%;
  width: 100%;
  border-radius: 1.375rem;
  mask-image: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.85) 100%);
  object-fit: cover;
}

.text-container {
  display: inline-flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  height: 100%;
  width: 100%;
  gap: 0.625rem;
  position: absolute;
  padding-bottom: 1.5rem;
  padding-left: 1.5rem;
  bottom: 0;
  left: 0;
}

.name {
  color: white;
  font-size: 2rem;
  font-weight: 300;
  word-wrap: break-word;
}

.position {
  font-size: 1.25rem;
  font-weight: 300;
  text-transform: uppercase;
  word-wrap: break-word
}

.hover-box {
    border-radius: 1.375rem;
    opacity: 0;
    position: absolute;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    &:hover {
      opacity: 0.9;
    }
    transition: all 0.2s;
}

.social-link {
  margin-right: 10px;
  transition: all .25s !important;
  &:hover {
    scale: 1.2;
  }
}
